/* globar setup */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

:root {
    --primary-color: #0B0223;
    --btn-primary-color: #FF42A5;
    --btn-secondary-color: #4EC5F7;
    --seecondary-color: #FFF;
}

.btn-primary {
    padding: 15px 35px;
    text-align: center;
    border-radius: 25px;
    border: none;
    background-color: var(--btn-primary-color);
    color: var(--seecondary-color);
    margin-top: 35px;
}

.btn-secondary {
    padding: 15px 35px;
    text-align: center;
    border-radius: 25px;
    border: none;
    background-color: var(--btn-secondary-color);
    color: var(--seecondary-color);
}

/* nav starts here */


header {
    border: 3px solid red;
    align-items: center;
    justify-content: center;
    /* height: 100%; */
}

nav {

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    width: 80%;
    margin: 0 auto;
}

.logo {
    display: flex;
    gap: 10px;
}

.logo span {
    color: #FF42A5;
}

.banner-text p {
    background-image: linear-gradient(to bottom, #8758F1, var(--btn-primary-color));
    -webkit-background-clip: text;
    color: transparent;
}

.logo img {
    width: 66px;
    height: 30px;
}

.menus ul {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    font-size: 18px;

}

.menus ul :nth-child(3) {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 8px;
}

.menus ul :nth-child(3) i {
    margin: 0px 3px;
}

.fa-youtube {
    color: red;
}

/* nav ends here */


/* banner starts here */

.text-container {
    background-image: url(../images/Group\ 14.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.banner-container {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;
    align-items: center;
    gap: 150px;
}

.banner-text {
    padding: 30px;
    text-align: left;
}

.banner-text h1 {
    font-size: 45px;
    color: var(--primary-color);
}

.banner-text p {
    font-size: 96px;
}

.banner-text .btn-primary {
    margin-right: 15px;
}

.banner-text li {
    font-size: 20px;
}

.fa-solid {
    margin: 10px 15px 15px 10px;
    text-align: left;
}

.banner-img {
    display: flex;
}

.banner-img img {
    width: 100%;
}

/* banner ends here */

/* main starts here */

main {
    width: 80%;
    margin: 0 auto;
}

.headline {
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
}

.headline span {
    background-image: linear-gradient(to bottom, #8758F1, var(--btn-primary-color));
    -webkit-background-clip: text;
    color: transparent;
}

.videos-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
}

.videos img {
    width: 100%;
}

.videos p {
    margin-top: 10px;

}



/* feature banner starts here */

.feature-banners {
    display: flex;
    text-align: right;
    gap: 50px;
    align-items: center;
    justify-content: center;
    padding: 15px;
    position: relative;
    margin-bottom: 70px;
}

.feature-banners>div {
    width: 50%;
}

.feature-banner-text h1 {
    font-size: 48px;
}

.feature-banner-text span {
    color: var(--btn-primary-color);
}

.feature-banner-text p {
    font-size: 20px;
    text-align: right;
}

.feature-banner-image img {
    width: 80%;
}

.floating-image {
    position: absolute;
    transform: translate(-10%,70%)
}

.floating-image img {
    width: 30%;
}

.image-2{
    transform: translate(-55%,65%);
}

.feature-text-2{
    display: flex;
    flex-direction: column;
    margin-left: 150px;
    text-align: left;
}
.feature-text-2 p{
    text-align: left;
}

.feature-banner-2{
    margin-bottom: 150px;
}

/* option-buttons starts here */

.option-buttons{

    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    
}
.btns-conatiner{
    /* border: 2px solid red; */
    text-align: center;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    row-gap: 80px;
    justify-content: center;
    column-gap: 70px;
    width: 80%;
    margin: 0 auto;
    padding: 50px;
    font-size: 14px;
}
.options{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 35px;
    gap: 5px;
}
.options img{
    width: 25%;
}

.options-btn{
    display: flex;
    background-color: #FFFFFF;
    gap: 5px;
    padding: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 35px;
}

.options-btn:hover{
        text-align: center;
        border-radius: 35px;
        border: 2px solid var(--btn-primary-color);
        color: var(--btn-primary-color);
}


.balancer{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    text-align: center;
    row-gap: 80px;
    justify-content: center;
    column-gap: 70px;
    width: 70%;
    margin: 0 auto 50px auto;
    padding: 50px;
    font-size: 14px;
}


/* main ends here */