/* mobile res  here */
.hide {
    display: none;
}
@media screen and (max-width:576px) {


    /* nav starts here */
    nav {
        flex-direction: column;
        gap: 40px;
    }

    .btn-primary {
        margin-bottom: 20px;
    }

    .menus ul {
        flex-direction: column;

    }

    .menus ul :nth-child(3) {
        margin-top: 20px;
    }

    /* banner starts here */
    .banner-container {
        flex-direction: column-reverse;
    }

    .text-container {
        background-position: bottom left;
        background-image: none;
    }

    .banner-text {
        padding: 2px;
    }

    .banner-text h1 {
        font-size: 20px;
    }

    .banner-text p {
        font-size: 55px;
    }

    .banner-text li {
        font-size: 15px;
    }

    .banner-text .btn-primary {
        margin-right: 5px;
        margin-top: 5px;
    }

    /* main starts here */

    /* featured-videos section starts here */

    .featured-videos .headline h1 {
        text-align: center;
        font-size: 27px;
        width: 100%
    }

    .featured-videos .headline p {
        font-size: 15px;
    }

    .videos-cards {
        grid-template-columns: 1fr;
        font-size: 14px;
        padding: 10px;
    }

    .videos p {
        margin-top: 10px;
        text-align: center;
    }

    .overlay i {
        width: 50%;
        text-align: center;

    }

    .videos {
        margin-top: 40px;
    }

    /* featured-banners section starts here */
    .feature-banners {
        flex-direction: column;

    }

    .feature-banner-text h1 {
        font-size: 35px;
        text-align: center;
    }

    .feature-banner-text p {
        padding-top: 15px;
        font-size: 15px;
        text-align: center;
    }

    .feature-banners>div {
        width: 100%;
    }

    .feature-banner-2 {
        flex-direction: column-reverse;
    }

    .floating-image {
        position: absolute;
        transform: translate(-65%, 170%);
    }

    .feature-banner-image {
        text-align: center;
    }

    .image-2 {
        display: block;
        position: absolute;
        transform: translate(0%, 170%);
        margin: 0;
    }

    .feature-text-2 {
        text-align: center;
        margin-left: 0px;
    }

    /* .btns-container,.balancer{
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        width: 100%;
        padding: 5px;
    } */


    .option-buttons {
        background-image: none;
        padding: 10px;
    }

    .btns-container{
        display: grid;
        column-gap: 10px;
        row-gap: 25px;
        width: 100%;
        grid-template-columns: repeat(3,1fr);
    }

    .options {
        font-size: 5px;
    }

    .options img{
        margin-right: 5px;
    }
    .options-btn {
        gap: 0px;
        font-size: 10px;
        padding: 0px;
        text-align: left;
    }
    .options-btn:hover{
        text-align: left;
    }

    /* footer starts here */


    footer .logo img {
        width: 30%;
        height: 30%;
        text-align: center;
    }

    footer .logo h1 {
        font-size: 25px;
    }

    .social-links {
        flex-wrap: wrap;
    }

    .footer-nav ul {
        grid-template-columns: repeat(3, 1fr);
        font-size: 15px;
        text-align: center;

    }

    .social-links ul {
        grid-template-columns: repeat(3, 1fr);
        text-align: center;
    }

    .terms ul {
        grid-template-columns: repeat(2, 1fr);
        font-size: 11px;
        row-gap: 14px;
        text-align: center;
    }


}

@media screen and (max-width:390px) {

    .floating-image {
        transform: translate(-70%, 200%);
    }

    .image-2 {
        transform: translate(0%, 200%);
    }

}

/* Tablet Res here */

@media screen and (min-width:576px) and (max-width: 992px) {

    .banner-container{
        flex-direction: column;
    }
    .banner-text{
        justify-content: center;
        align-items: center;
        margin-top: 10%;
    }
    .videos-cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .videos {
        margin-bottom: 50px;
    }
 
    .feature-banner-text h1{
        font-size: 35px;
        margin-bottom: 20px;
    }
    .image-main-2 img{
        width: 120%;
    }

    .featured-videos{
        border: 2px solid transparent;
    }
    .options button{
        font-size: 18px;
    }
    .options .btn-primary{
        padding: 2px;
    }
    .btns-container{
        display: grid;
        column-gap: 10px;
        row-gap: 25px;
        width: 100%;
        grid-template-columns: repeat(3,1fr);
    }
    .social-links ul{
        grid-template-columns: repeat(3,1fr);
    }
    .footer-nav ul {
        grid-template-columns: repeat(3,1fr);
        gap: 10px;
    }
    .terms ul{
        grid-template-columns: repeat(2,1fr);
        row-gap: 20px;
        column-gap: 10px;
    }
}